body{
    margin:0;
    height:100vh;
    background:#d17f05;
    overflow:hidden;
    font-family:sans-serif;
  }

  footer{
    background-color:  rgb(170, 92, 3);
    bottom: 0;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .header{
    background-color: rgb(163, 90, 6);
    font-size: 40px;
    font-family: "Inika", serif;
    font-style: normal;
    display: flex;
    align-items: center;  
    padding: 1px;
  }
  
  .login{
    margin-left: 1000px;
    margin-bottom: 120px;
  }

  a{
    color: black;
  }

  .logos{
    align-items: center;
  }

  #Logo1{
    position: fixed;
    margin-top: 15px;
  }

  #Logo2{
    position: absolute;
    z-index: 10;
    left: 300px;
    margin-top: 60px;
  }

  #Logo3{
    position: absolute;
    z-index: 10;
    left: 600px;
    margin-bottom: 100px;
  }
  

  
  
  