body{
    margin:0;
    height:100vh;
    background: #FFD400;
    font-family:sans-serif;
  }

  footer{
    background-color: #B81A1A;
    padding-right: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .footer-style{
    font-size: 30px;
    font-family: sans-serif;
  }

  .header{
    background-color: #B81A1A;
    font-size: 200%;
    font-family: "Inika", serif;
    font-style: normal;
    display: flex;
    align-items: center;  
  }

  header h1, a{
    display: inline-block;
  }

  header a{
  }

  a{
    color: black;
    text-decoration: none;
    margin-left: 70%;
  }

  .contact{
    margin-left: 4%;
  }



  .nav{
  grid-column: 2;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  .nav li{
    display: inline-block;
    font-size: 50px;
    margin-top: 50px;
  }


  main{
    display: grid;
  }

  .logos{
    grid-column: 1;
  }
  
  main p, h3{
    font-size: 20px;
    margin-top: 30%;
    grid-column: 2;
  }
  
  