<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <title>EVAN  BURGERS</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="head">
                <h1 id="title" >EVAN BURGERS</h1>
            </div>

            <div>
                <div class="login">
                    <a href="Logins.html" style="right: 0; position: absolute; top: 0; align-items: center;">Login</a>
                </div>
            </div>

        </div>
    </header>

            
    <main>

        <nav>
            <div>
                <a href="Menu.html" style=" background-color: black; color: #C78D22; padding: 1%; border-radius: 20%;">Menu</a>
            </div>

            <div>
                <a href="Checkout.html" style="background-color: black; color: #C78D22; padding: 1%; border-radius: 20%;">Cart</a>
            </div>
        </nav>


        <div class="logos">
            <div id="Logo1">
                <img src="/static/images/EvanBurgers.png" alt="EvanBurgers logo">
            </div>
        </div>
        <p>
            <strong>About us</strong>
            <br></br>
            <br>Welcome to our small business! We're passionate about simplicity and quality, </br>
            <br>starting with just three carefully selected ingredients. Our goal is to bring you fresh, </br>
            <br>delicious products made with love and minimalism. Stay tuned as we grow and expand, </br>
            <br>always keeping your satisfaction at the heart of everything we do!</br>
        </p>

    </main>

    
    <footer>
        {% include "footer.html" %}
    </footer>
    

</body>
</html>