<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <title>EVAN  BURGERS</title>
</head>
<body>
    <!--This is the white panel design-->
    <div class="white-top"></div>
    <!--This is yellow panel design-->  
    <div class="yellow-panel"></div>
    <!--This is the white panel bottom design-->
    <div class="white-bottom"></div>

    <div class="header">
        <h1 id="title">EVAN BURGERS</h1>
        <a href="Checkout.html">
            <img src="static/images/Cart.png" alt="Cart logo" style="right: 0; top: 0; position: absolute;">
        </a>
        <div id="login">
            <img src="/static/images/login.png" alt="login">
        </div>
    </div>


    <div class="logos">
        <div id="Logo1">
            <img src="static/images/Logo1.png" alt="EVAN BURGERS logo">
        </div>
        <div id="Logo2">
            <img src="static/images/Logo2.png" alt="burgers logo">
        </div>
        <div id="Logo3">
            <img src="static/images/Logo3.png" alt="fire logo">
        </div>
    </div>
    

</body>
</html>