<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <title>EVAN BURGERS</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="head">
                <a href="/">EVAN BURGERS</a>
            </div>
    
            <div>
                <div class="login">
                    <a href="/login">Login</a>
                </div>
            </div>

            <div class="contact">
                <a href="/contact">contact</a>
            </div>
    
        </div>
    </header>

    <footer>
        {% include "footer.html" %}
    </footer>

</body>
</html>