<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">
    <title>EVAN BURGERS</title>
</head>


<body>
    <header>
        <div class="header">


            <div class="head">
                <a href="/"><img src="static/images/burger-logo.png" alt="Burger logo" style="width: 30%;" >
                    </a>
            </div>

            


            <div class="con">
                <a href="/contact"><img src="static/images/contact.png" alt="contact logo" style="width: 30%; margin-left: 10%;" >
                    </a>
            </div>

            <div>
                <div class="log">
                    <a href="/login"><img src="static/images/login-logo.png" alt="login logo" style="width: 30%; margin-left: 20%" >
                        </a>
                </div>
            </div>


 
        </div>
    </header>


    <main>
        {% block content %}{% endblock %}
    </main>


    <footer>
        {% include "footer.html" %}
    </footer>
</body>
</html>