{% extends "layout.html" %}
{% block content %}
<div class="signup-container">

    <h2>Before we order, let's get some of your details!</h2>
    <form action="/login" method="post" class="signup-form">
        <div class="login-group">
            <label for="username">Username</label>
            <input type="text" maxlength="25" name="username" class="style-input" required>
        </div>
        <div class="login-group">
            <label for="password">Password</label>
            <input type="text" name="password" class="style-input" required>
        </div>

        <div class="login-group">
            <label for="Addy">Address</label>
            <input type="text" name="Addy" class="style-input" required>
        </div>





        <button type="submit" class="auth-form-button">Sign up</button>
    </form>
</div>
{% endblock %}