{% extends "layout.html" %}
{% block content %}
<div class="signup-container">
    <h1>Signup</h1>
    <form action="/signup" method="post" class="signup-form">
        <div class="signup-group">
            <label for="username">Username</label>
            <input type="text"  minlength="5" maxlength="25" name="username" class="style-input" required>
        </div>
        <div class="signup-group">
            <label for="password">Password</label>
            <input type="text" minlength="5" name="password" class="style-input" required>
        </div>
        <div class="signup-group">
            <label for="address">Address</label>
            <input type="text"  minlength="5" maxlength="50" name="address" class="style-input" required>
        </div>
        <button type="submit" class="auth-form-button">Signup</button>
    </form>
</div>
{% endblock %}
